@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

/* General start */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: black;
    letter-spacing: 0.3rem;
    line-height: 1.6;
    text-align: center;
}

/* General end */



/* Nav Bar start */

#navcontainer {
    position: sticky;
    width: 95vw;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0.3rem;
    padding-bottom: 3rem
    z-index: 1;
    background-color: #fff;
    margin-bottom: 1rem;
}

.nav-link {
    color: #000 !important;
}

.nav-link:hover {
    color: #6cc3cc !important;
    transition: .5s ease-in-out;
}

.active {
    color: #6cc3cc !important;
}


/* Nav Bar end */



/* Home page start */

#introcontainer {
    height: 100vh;

    position: relative;
    
    background: url(../images/BTN_Home.jpg) no-repeat center center fixed; 
    background-size: cover;
    
    align-items: center;
    justify-content: center;
    
}

#covertext, #covertext h2 {
    color: #fff;
}

#covertext {
    text-align: center;
    font-size: 1rem%;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    padding: 1rem;
    margin: 2rem;

	background-color: #6cc3cc;

    top: 3rem;
    
    position: absolute;

}

#intro {
    background-color: rgba(108, 195, 204, 0.6);
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
}


.blackbox {
    margin-top: 5.5rem;
    margin-bottom: -6rem;
    height: 200px;
    width: 200px;
    cursor: pointer;
}

.boxtext {
    font-weight: 700;
    color: #fff;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    cursor: pointer;
}


/* Home page end */



/* Divider start*/

.seagull {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 100px;
   
}

/* Divider end */



/* Review Pages start */

#containerrevieweat {
    height: 100vh;
    background-color: greenyellow;
}


.image {
    opacity: 1;
    display: block;
    max-width: 50%;
    height: auto;
    transition: 1s ease;
    backface-visibility: hidden;
}

.box {
    margin: 1.5rem;
    padding-left: 0rem;
    padding-right: 0rem;
	height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: responsive;
	background-color:red;
    cursor: pointer;
    background-image: flex;
}


.reviewboxtext {
    position: absolute;
    color: #fff;
    font-weight: 700;
    text-align: center;
    align-content: center;
    font-size: 1rem;
    letter-spacing: 0.5rem;
    line-height: 2.5;
    text-transform: uppercase;
    padding-bottom: 0.5rem;

}

.reviewboxsub {
    position: absolute;
    color: yellow;
    padding-top: 4.5rem;
    font-weight: 700;
    text-align: center;
    font-size: .75rem;
    letter-spacing: 0.5rem;
    line-height: 2.4rem;
    text-transform: uppercase;  
}

.img-fluid {
    display: block;
    width: 100%;
    max-height: 250px;
}

/* Review Pages end */



/* Map Page start */

#containermap {
    height: 100vh;
    background-color: green;
}

.review {
    background-color: red;
    height: 100%;
    margin-top: 3rem;
    color: #000;
    font-weight: 700;
    text-align: left;
}

.map {
    background-color: yellow;
    height: 700px;
    margin-top: 3rem;
}

.venuename {
    color: black;
    font-size: 1rem;
}

.bodytext {
    color: black;
    font-size: 0.75rem;
}

/* Map Page end */