@import url('https://fonts.googleapis.com/css?family=Lato:300,900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

/* General start */

html {
    scroll-behavior: smooth;
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: black;
    letter-spacing: 0.3rem;
    line-height: 1.6;
    text-align: center;
    text-decoration: none;
}

#maincontainer {
    background-color: red;
}

/* General end */



/* Nav Bar start */

#navcontainer {
    position: sticky;
    align-content: center;
    width: 98.5vw;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
    margin-bottom: 0rem;
}

.nav-link {
    color: #000 !important;
    cursor: pointer;
}

.nav-link:hover {
    color: #6cc3cc !important;
    transition: .25s ease-in-out;
}

.active {
    color: #6cc3cc !important;
}


#navbarbrand {
    cursor: pointer;
}

/* Nav Bar end */



/* Home page start */

#home {
    height: 92.75vh;

    position: relative;
    
    background: url(../images/BTN_Home.jpg) no-repeat center center fixed; 
    background-size: cover;

    max-height: 100vh;
    
    align-items: center;
    justify-content: center;

    top: 0;
    left: 0;
    
}

#covertext, #covertext h2 {
    color: #fff;
}

#intro {

    background-color: rgba(108, 195, 204, 0.6);
    position: center;
    width: 100%;

    color: #fff;
    font-weight: 900;
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: 12rem;
    align-items: center;
    justify-content: center;
}

blackbox {
    margin-top: 5.5rem;
    margin-bottom: -6rem;
    height: 200px;
    width: 200px;
    cursor: pointer;
}

.boxtext {
    font-weight: 900;
    color: #fff;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-decoration: none;
    cursor: pointer;
}


#buttoneat {
    margin: 1.5rem;
    padding-top: 0.5rem;
    padding-left: 0rem;
    padding-right: 0rem;
	height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: responsive;
	background-color: rgba(0, 0, 0, 0.7);;
    cursor: pointer;
    background-image: flex;
}

#buttoneat:hover {
    opacity: 0.7;
    transition: .25s ease-in-out;
}

#buttondrink {
    margin: 1.5rem;
    padding-top: 0.5rem;
    padding-left: 0rem;
    padding-right: 0rem;
	height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: responsive;
	background-color: rgba(0, 0, 0, 0.7);;
    cursor: pointer;
    background-image: flex;
}

#buttondrink:hover {
    opacity: 0.7;
    transition: .25s ease-in-out;
}

#buttonstay {
    margin: 1.5rem;
    padding-top: 0.5rem;
    padding-left: 0rem;
    padding-right: 0rem;
	height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: responsive;
	background-color: rgba(0, 0, 0, 0.7);;
    cursor: pointer;
    background-image: flex;
}

#buttonstay:hover {
    opacity: 0.7;
    transition: .25s ease-in-out;
}

/* Home page end */



/* Divider start*/

.seagull {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 100px;
   
}

/* Divider end */



/* Review Pages start */

#eat {
    height: 100%;
    background-color: none;
}


image {
    opacity: 1;
    display: block;
    max-width: 100%;
    height: auto;
    transition: 1s ease;
    backface-visibility: hidden;
}


.box {
    margin: 1.5rem;
    padding-left: 0rem;
    padding-right: 0rem;
	height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: responsive;
	background-color:#000;
    cursor: pointer;
    background-image: flex;
}

.box:hover {
    opacity: 0.7;
    transition: .25s ease-in-out;
}


.reviewboxtext {
    position: absolute;
    color: #fff;
    font-weight: 900;
    text-align: center;
    align-content: center;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    line-height: 1.1;
    text-transform: uppercase;
    padding-bottom: 0.5rem;

}

.reviewboxsub {
    position: absolute;
    color: #fff;
    padding-top: 4.5rem;
    font-weight: 900;
    text-align: center;
    font-size: 0.75rem;
    letter-spacing: 0.5rem;
    line-height: 2.4rem;
    text-transform: uppercase;  
}

.img-fluid {
    opacity: 0.7;
    display: block;
    width: 100%;
    max-height: 250px;
}

.img-fluid:hover {
    opacity: 1;
    transition: .25s ease-in-out;
}


.backbuttoneat {
    background-color: #000;
    color: #6cc3cc;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 0.75rem;
    padding-right: 0.25rem;
    font-weight: 900;
    text-align: center;
    font-size: 0.5rem;
    letter-spacing: 0.5rem;
    line-height: 1.4rem;
    text-transform: uppercase;
}

.backbuttondrink {
    background-color: #000;
    color: #6cc3cc;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 0.75rem;
    padding-right: 0.25rem;
    font-weight: 900;
    text-align: center;
    font-size: 0.5rem;
    letter-spacing: 0.5rem;
    line-height: 1.4rem;
    text-transform: uppercase;
}

.backbuttonstay {
    background-color: #000;
    color: #6cc3cc;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 0.75rem;
    padding-right: 0.25rem;
    font-weight: 900;
    text-align: center;
    font-size: 0.5rem;
    letter-spacing: 0.5rem;
    line-height: 1.4rem;
    text-transform: uppercase;
}


/* Review Pages end */



/* Map Page start */


.reviewbox {
    background-color: none;
    height: 100%;
    margin-top: 1rem;

}

.map {
    height: 70vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.venuename {
    padding-left: 1rem;
    padding-right: 1rem;
    color: #6cc3cc;
    text-align: left;
    font-size: 1.25rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
    line-height: 1.1;
    text-transform: uppercase;
}

.bodytext {
    padding-left: 1rem;
    padding-right: 1rem;
    color: #000;
    text-align: left;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0rem;
}

.weblink {
    padding-left: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
    color: #6cc3cc;
    text-align: right;
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
    text-decoration: none;
}

.weblink:hover {
    color: #000;
    transition: .25s ease-in-out;
}

/* Map Page end */


/* Footer start */

#footer {
    background-color: rgba(108, 195, 204, 0.6);
    position: fixed;
    left: 0;
    bottom: 0;
    height: 4rem;
    width: 100%;
    z-index: 1;
    overflow: hidden;
}

.sociallinks {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.sociallinks li a i {
    width: 40px;
    height: 40px;
    padding: 1.5rem;
    border-radius: 50%;
    font-size: 2rem;
    line-height: .25rem;
    text-align: center;
    color: #fff;

}

.sociallinks li a i:hover {
    color: #000;
}


/* Footer end */


/*  

#buttondrink {
    margin: 1.5rem;
    padding-left: 0rem;
    padding-right: 0rem;
	height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: responsive;
	background-color: rgba(0, 0, 0, 0.7);;
    cursor: pointer;
    background-image: flex;
}


*/